          <td class="col-sm-6">
            <%= party.get("name") %>
            <a href="#party/<%= party.id %>/edit" class="btn btn-info">Edit</a>
          </td>
          <td class="col-sm-2"><%= party.get("max_guests") %></td>
          <td class="col-sm-2">
            <% if (party.get("num_guests")) { %>
              <%= party.get("num_guests") %>
            <% } else { %>
              n/a
            <% } %>
          </td>
          <td class="col-sm-2">
            <% if (party.get("rsvp_status") == "Not sent") { %>
              <form class="send-invite" data-id="<%= party.get("id") %>">
                <button type="submit" class="btn btn-success">Generate Invite</button>
              </form>
            <% } else if (party.get("rsvp_status") == "Sent") { %>
              <a href="http://www.ride-or-die.com/rsvp?party=<%= party.get('rsvp_url') %>">Rsvp link</a>
              
            <% } else { %>
              <%= party.get("rsvp_status") %> <a
                href="#rsvps/<%= party.get('rsvp_id') %>" class="show_rsvp">Link</a>
            <% } %>
            </td>
